#overlayer {
  width:100%;
  height:100%;  
  position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  z-index: 2;
  background:#4a4a4a;
}

.preloader p{
  position: absolute;
  top: 80%;
  left: 50%;
  margin-left: -45px;
  width: 120px;
  height: 90px;
  
  text-align: center;
  color: #fff;
  font-size: 24px;
  z-index: 3;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  z-index:3;
  border: 4px solid #Fff;
  top: 50%;
  animation: loader 2s infinite ease;
}


.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@-webkit-keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

aside {
  width: 200px;
  border: 1px solid black;
  margin: 10px;
  float: left;
  height: 75vh;
}

aside2 {
  width: 200px;
  border: 1px solid black;
  margin: 10px;
  float: right;
  height: 75vh;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #cabinElevator{
  height: 200px;
  position:absolute;
  left: 25%;
  }
    
  #groundFloorElevator{
  height: 200px;
  position:relative;
  left: 0%;
  }
    
  #firstFloorElevator {
  height: 200px;
  position:relative;
  left: 1%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up)  */
@media only screen and (min-width: 600px) {
  #cabinElevator{
  height: 250px;
  position:absolute;
  left: 25%;
  }
      
  #groundFloorElevator{
  height: 250px;
  position:relative;
  left: 0%;
  }
      
  #firstFloorElevator {
  height: 250px;
  position:relative;
  left: 1%;
  }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #cabinElevator{
  height: 300px;
  position:absolute;
  left: 25%;
  }
        
  #groundFloorElevator{
  height: 300px;
  position:relative;
  left: 0%;
  }
        
  #firstFloorElevator {
  height: 300px;
  position:relative;
  left: 1%;
  }
}

/* Large devices (laptops/desktops, 992px and up)  */
@media only screen and (min-width: 992px){
  #cabinElevator{
  height: 300px;
  position:absolute;
  left: 25%;
  }
  
  #groundFloorElevator{
  height: 300px;
  position:relative;
  left: 0%;
  }
  
  #firstFloorElevator {
  height: 300px;
  position:relative;
  left: 1%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #cabinElevator{
  height: 350px;
  position:absolute;
  left: 24.25%;
  }
  
  #groundFloorElevator{
  height: 350px;
  position:relative;
  left: 0%;
  }
  
  #firstFloorElevator {
  height: 350px;
  position:relative;
  left: 1%;
  }
} 

/* Desktop 4K 1X Scale Media Query for min-width: */
@media only screen and (min-width: 3840px){
  #cabinElevator{
  height: 500px;
  }

  #groundFloorElevator{
  height: 500px;
  }

  #firstFloorElevator {
  height: 500px;
  }
}